service cloud.firestore {
  match /databases/{database}/documents {
    match /live/federations/{federation} {
      function isAdmin() {
        return get(/databases/$(database)/documents/live/federations/$(federation)/config).data.admins[request.auth.uid] == true
      }
      match /categories/{document=**} {
        function isPublic() {
          return get(/databases/$(database)/documents/live/federations/$(federation)/categories/$(request.path[7])/config).data.display == true
        }
        allow read: if isAdmin() || isPublic();
        allow write: if isAdmin();
      }
      match /config {
        allow read: if isAdmin();
        allow read, write: if isAdmin() && request.resource.data.apikey == resource.data.apikey;
      }
    }
  }
}
