<div>
  <p>Viewing <b>{{ config.name || '' }}</b> (<b>${fed}</b>)</p>
  <p>
    <a @click="toggleCatVisibility()">
      <span v-show="!config.visible"><i class="fas fa-eye"></i> Make Category Visible</span>
      <span v-show="config.visible"><i class="fas fa-eye-slash"></i> Hide Category</span>
    </a>
  </p>
</div>

<div class="table" v-if="loaded.config && loaded.participants && loaded.scores">
  <table name="overall" class="mt">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="2" v-for="event in sortedEvents">{{ event.abbr }}</th>
        <th>Overall</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Club</th>
        <th>id</th>

        <template v-for="event in sortedEvents">
          <th><a @click="publishAll(event.abbr)">Publish All</a></th>
          <th v-if="isSpeed(event.abbr)"><a @click="displayAll(event.abbr)">Display all on Projector</a></th>
          <th v-else>Projector</th>
        </template>

        <th><a @click="publishAll('overall')">Publish All</a></th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(participant, uid) in participants">
        <td>{{ (participant ? participant.name : '') }}</td>
        <td>{{ (participant ? participant.club : '') }}</td>
        <td>{{ uid }}</td>

        <template v-for="event in sortedEvents">
          <td>
            <a v-if="scores[event.abbr][uid]" :class="{green: scores[event.abbr][uid] && scores[event.abbr][uid].display, red: !scores[event.abbr][uid] || !scores[event.abbr][uid].display}" @click="togglePub(event.abbr, uid)">{{ (scores[event.abbr][uid] && scores[event.abbr][uid].display ? 'Unpublish' : 'Publish') }}</a>
          </td>
          <td>
            <a v-show="onDisplay(event.abbr, uid)" @click="display(event.abbr, uid)" :class="{green: scores[event.abbr][uid] && scores[event.abbr][uid].projector}">Remove from Display</a>
            <a v-show="!onDisplay(event.abbr, uid) && scores[event.abbr][uid]" @click="display(event.abbr, uid)" :class="{red: !scores[event.abbr][uid] || !scores[event.abbr][uid].projector}">Display</a>
          </td>
        </template>

        <td><a v-if="scores.overall[uid]" :class="{green: scores.overall[uid] && scores.overall[uid].display, red: !scores.overall[uid] || !scores.overall[uid].display}" @click="togglePub('overall', uid)">{{ (scores.overall[uid] && scores.overall[uid].display ? 'Unpublish' : 'Publish') }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
