<div>
  <p>Viewing
    <b>${fed}</b>
  </p>
  <p>
    API key:
    <input
      class="mono apikey"
      id="writeKey"
      :value="(show.writeKey ? config.apikey || '' : '••••••••••••••••••••••••••••••••••••••••')"
      readonly="readonly"/>
    <a @click="show.writeKey = !show.writeKey">
      <span v-show="!show.writeKey">
        <i class="fas fa-eye"></i>
        Show API key</span>
      <span v-show="show.writeKey">
        <i class="fas fa-eye-slash"></i>
        Hide API key</span>
    </a>
    <a @click="copy('writeKey')">
      <i class="fas fa-clipboard"></i>
      Copy
    </a>
    <br/>
    <a @click="newKey()">
      <i class="fas fa-sync"></i>
      Generate New API key</a>
    <span v-show="config.genKey">
      <i class="fas fa-spinner fa-spin"></i>
    </span>
  </p>
  <p>
    <span class="red">
      <b>WARNING!</b>
    </span>
    Do
    <b>NEVER</b>
    share the API key with anyone you don't want to be able to modify scores. If ou
    accidentaly show the API key on a projector in the competition venue or anywhere
    else anyone can see it
    <b>RESET IT</b>
    by generating a new one above. The
    <b>ONLY</b>
    people that should know the API key are officials managing the scoring system
    and/or RopeScore Live at your competition. The API key can be used to add,
    remove and modify categories, participant data, scores, ranks etc.
  </p>
</div>
<h2>Categories</h2>
${groups.map(group => `
<h3>${group.name}</h3>
<div class="table">
  <table class="select">
    ${group.categories.map(cat => `
    <tr onclick="window.location.pathname = '/admin/${fed}/${cat.id}'">
      <td>
        <span class="lg">${cat.name}</span>
        <i class="fas fa-angle-right fa-lg"></i>
      </td>
    </tr>
    `).join('')}
  </table>
</div>
`).join('')} ${(categories === 0 ? `
<div class="table">
  <table class="select">
    <tr>
      <td class="noclick">
        <span class="lg">No Categories</span>
      </td>
    </tr>` : ``)}
  </table>
</div>
<h2>Admins</h2>
<div class="table">
  <table>
    <tr>
      <td><input type="email" placeholder="email" v-model="newAdminEmail"/></td>
      <td>
        <a @click="newAdmin()">Add Admin</a>
      </td>
    </tr>
    <tr v-for="(email, uid) in config.admins">
      <td>{{ email }}</td>
      <td>
        <a v-if="uid !== user.uid" @click="delAdmin(uid)">Remove admin</a>
      </td>
    </t>
  </table>
</div>