<div class="table" v-if="loaded.config && loaded.participants && loaded.scores">
  <table name="overall" class="mt">
    <thead>
      <tr>
        <th colspan="3"></th>
        <th colspan="2" v-for="event in sortedEvents">{{ event.abbr }}</th>
        <th>Overall</th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Club</th>
        <th>id</th>

        <template v-for="event in sortedEvents">
          <th>Publish</th>
          <th>Live Display</th>
        </template>

        <th>Publish</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(participant, uid) in participants">
        <td>{{ (participant ? participant.name : '') }}</td>
        <td>{{ (participant ? participant.club : '') }}</td>
        <td>{{ uid }}</td>

        <template v-for="event in sortedEvents">
          <td><a v-if="scores[event.abbr][uid]" :class="{green: scores[event.abbr][uid] && scores[event.abbr][uid].display, red: !scores[event.abbr][uid] || !scores[event.abbr][uid].display}" @click="togglePub(event.abbr, uid)">{{ (scores[event.abbr][uid] && scores[event.abbr][uid].display ? 'Unpublish' : 'Publish') }}</a></td>
          <td><span v-show="onDisplay(event.abbr, uid)">On&nbsp;Display</span><a v-show="!onDisplay(event.abbr, uid) && scores[event.abbr][uid]" @click="display(event.abbr, uid)">Display</a></td>
        </template>

        <td><a v-if="scores.overall[uid]" :class="{green: scores.overall[uid] && scores.overall[uid].display, red: !scores.overall[uid] || !scores.overall[uid].display}" @click="togglePub('overall', uid)">{{ (scores.overall[uid] && scores.overall[uid].display ? 'Unpublish' : 'Publish') }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
