<div v-if="globConfig.projector" v-show="loaded.globConfig && loaded.config && loaded.participants && globConfig.projector.speed" class="lg proj">
  <h1 class="full">Unofficial Speed Scores - {{ config.name }}</h1>
  <table>
    <tr v-for="event in cycling">
      <td class="onethird">{{ config.events[event.abbr].name }}</td>
      <!-- <td class="onethird">{{ event.uid }}</td> -->
      <td class="onethird">{{ participants[event.uid].name }}, {{ participants[event.uid].club }}</td>
      <!-- <td class="onethird" v-class="{gray: scores[event.uid][event.event].dns}" >{{ (scores[event.uid][event.event].dns ? 'DNS' : scores[event.uid][event.event].PreY) }}</td> -->
      <td class="onethird">{{ (loadCache[event.abbr + event.uid] ? scores[event.abbr][event.uid].PreY : '') }}</td>
    </tr>
  </table>
</div>

<div v-if="globConfig.projector" v-show="loaded.globConfig && loaded.config && loaded.participants && !globConfig.projector.speed" class="lg proj center">
  <h1 class="full">Unofficial Scores - {{ config.name }}</h1>
  <h2>{{ (globConfig.projector.event ? config.events[globConfig.projector.event.abbr].name : '') }}</h2>
  <h2><u>{{ (globConfig.projector.event ? participants[globConfig.projector.event.uid].name : '') }}</u> from <u>{{ (globConfig.projector.event ? participants[globConfig.projector.event.uid].club : '') }}</u></h2>
  <table class="blank lg center">
    <tr>
      <th></th>
      <th>Difficulty</th>
      <th>Creativity</th>
    </tr>
    <tr>
      <th class="ra">Score</th>
      <td>{{ (globConfig.projector.event ? scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].T1 || 0 : '') }}</td>
      <td>{{ (globConfig.projector.event ? scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].T4 || 0 : '') }}</td>
    </tr>
    <tr class="bb">
      <th class="ra">Deductions</th>
      <td>{{ (globConfig.projector.event ? -scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].T5 / 2 : '') }}</td>
      <td>{{ (globConfig.projector.event ? -scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].T5 / 2 : '') }}</td>
    </tr>
    <tr>
      <th class="ra">Total</th>
      <td>{{ (globConfig.projector.event ? scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].dScore || 0 : '') }}</td>
      <td>{{ (globConfig.projector.event ? scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].cScore || 0 : '') }}</td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">Unofficial Score</th>
      <td>{{ (globConfig.projector.event ? scores[globConfig.projector.event.abbr][globConfig.projector.event.uid].PreA : '') }}</td>
    </tr>
  </table>
</div>

<div v-show="!loaded.globConfig || !globConfig || !globConfig.projector || !globConfig.projector.category" class="center lg">
  <h1>Waiting for unofficial scores to display</h1>
</div>

<div class="ad">
  <h1>Presented by <img src="https://the-tricktionary.com/static/img/icon.png" /> the-Tricktionary.com</h1>
</div>
