[v-cloak] {
  display: none;
}

body.nonav {
  padding-top: 0;
}

.brand {
  max-width: 380px;
}

.ad {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 2em 0 #fff;
  z-index: 100000;
  display: flex;
  justify-content: space-between;
  padding-right: .5em;
  padding-left: .5em;
}

.ad img {
  width: 3.5em;
  border: none;
}

.adlines {
  display: inline-block;
  line-height: .9;
}

.proj {
  max-height: calc(100vh - 45px - 1em);
  display: block;
  overflow-y: hidden;
}

table.select {
  width: 100%;
  max-width: 600px;
}

table.select tr td {
  padding: 1em;
  border: none;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

table.select tr td:not(.noclick):hover {
  background: #ddd;
  cursor: hand;
  cursor: pointer;
}

table.select tr:first-child td {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

table.select tr:last-child td {
  border-bottom: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

table.select .lg {
  display: inline-block;
  /* vertical-align: middle; */
  font-weight: bold;
  font-size: 1.33em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

table.select .lg:first-letter {
  text-transform: capitalize;
}

table.select .pr {
  margin-top: .5em;
}

div.center table {
  text-align: center;
}

.ra {
  text-align: right;
}

.pr {
  float: right;
}

.apikey {
  display: inline-block;
  background: #ddd;
  padding: 1px 5px;
  border-radius: 4px;
  min-width: 23em;
  border: none;
}

.polling {
  visibility: hidden;
}

input.pretty {
  border: 1px solid #ddd;
  color: #333;
  padding: .3em .3em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: .5em;
  outline: none;
  transition: border .3s;
}

input.pretty:hover, input.pretty:focus {
  border: 1px solid #aaa;
  color: #333;
  padding: .3em .3em;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: .5em;
  outline: none;
}

/* progress bar */

.pc {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #ddd;
  margin-top: .5em;
  border-radius: 5px;
}

.pb {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: #bbb;
  border-radius: 5px;
  transition: width 1s;
}

.prl {
  text-align: center;
  line-height: 30px;
  color: #444;
  padding-right: .3em;
  padding-left: .3em;
}

ul.topnav li.icon {
  display: none;
  cursor: pointer;
  cursor: hand;
}

ul.topnav li.current {
  background-color: #bbb;
}

@media screen and (max-width: 550px) {
  nav.responsive {
    height: 45px;
  }
  nav ul li {
    padding: 3px 10px;
    display: block !important;
  }
  .topnav {
    position: fixed;
  }
  ul.topnav li.icon {
    float: right;
    display: inline-block;
    color: #000;
    padding-top: 5px;
  }
  ul.topnav li:first-child {
    height: 39px;
    padding: 0;
  }
  ul.topnav.responsive {
    position: fixed;
    height: calc(44px + (3em * 5))
  }
  ul.topnav li.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  ul.topnav li:not(.icon):not(:first-child) {
    width: 100vw;
    vertical-align: middle;
    height: 3em;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
  ul.topnav li:not(.icon):not(:first-child):not(:last-child) {
    border-bottom: 1px solid #bbb;
  }
  ul.topnav li:not(.icon):not(:first-child) a {
    display: block;
    text-align: left;
    font-size: 2.6em;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-left: .1em;
    padding-top: 0;
    line-height: 1;
  }
}
