${groups.map(group => `
<h2>${group.name}</h2>
<div class="table">
  <table class="select">
    ${group.categories.map(cat => `
    <tr onclick="window.location.pathname = '/${fed}/${cat.id}'">
      <td>
        <span class="lg">${cat.name}</span>
        <i class="fas fa-angle-right fa-lg"></i>
      </td>
    </tr>
    `).join('')}
  </table>
</div>`).join('')} ${(categories === 0 ? `
<div class="table">
  <table class="select">
    <tr>
      <td class="noclick">
        <span class="lg">No Categories</span>
      </td>
    </tr>` : ``)}
  </table>
</div>