<div
  class="table"
  v-if="loaded.config && loaded.participants && loaded.scores && loaded.ranks">
  <table :name="abbr" class="mt">
    <thead>
      <tr>
        <th bold="true" :colspan="(anyMembers ? 4 : 3) + colCount()">{{ config.name }}
          Scores:
          {{ unabbr(abbr) }}</th>
      </tr>
      <tr>
        <th>{{ (anyMembers ? 'Team ' : '') }}Name</th>
        <th v-show="anyMembers">Team Members</th>
        <th>Club</th>
        <th>id</th>

        <th class="gray" v-if="showCol('rq')">Req El</th>
        <th class="gray" v-if="showCol('pres')">Pres</th>
        <th class="gray" v-if="showCol('diff')">Diff</th>
        <th class="gray" v-if="showCol('deduc')">Deduc</th>
        <th class="gray" v-if="showCol('cScore')">Crea - Deduc/2</th>
        <th class="gray" v-if="showCol('cRank')">Rank</th>
        <th class="gray" v-if="showCol('dScore')">Diff - Deduc/2</th>
        <th class="gray" v-if="showCol('dRank')">Rank</th>

        <th v-if="showCol('score')">Score</th>
        <th class="green" v-if="showCol('rsum')">Rank Sum</th>
        <th class="red" v-if="showCol('rank')">Rank</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="score in ranked">
        <td>{{ (participants[score.uid] ? participants[score.uid].name : '') }}</td>
        <td v-show="anyMembers">{{ (participants[score.uid] ? participants[score.uid].members : '') }}</td>
        <td>{{ (participants[score.uid] ? participants[score.uid].club : '') }}</td>
        <td>{{ score.uid }}</td>

        <td class="gray" v-if="showCol('rq')">{{ score.T3 }}</td>
        <td class="gray" v-if="showCol('pres')">{{ score.T2 }}</td>
        <td class="gray" v-if="showCol('diff')">{{ score.T1 }}</td>
        <td class="gray" v-if="showCol('deduc')">{{ score.T5 }}</td>
        <td class="gray" v-if="showCol('cScore')">{{ score.cScore }}</td>
        <td class="gray" v-if="showCol('cRank')">{{ score.cRank }}</td>
        <td class="gray" v-if="showCol('dScore')">{{ score.dScore }}</td>
        <td class="gray" v-if="showCol('dRank')">{{ score.dRank }}</td>
        <td ng-if="showCol('score')">{{ (typeof score.Y !== 'undefined' ? score.Y : score.A) }}</td>

        <td class="green" v-if="showCol('rsum')">{{ score.rsum }}</td>
        <td class="red" v-if="showCol('rank')">{{ score.rank }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div v-else="v-else">
  <div class="pc">
    <div id="pro-bar" class="pb" :style="{width: percentage}">
      <div id="pro-lab" class="prl">{{ percentage }}</div>
    </div>
  </div>
</div>