<h1>{{ (!user ? 'Log In' : 'Profile - ' + user.email) }}</h1>
<div>
  <!-- v-if="display.password">-->
  <label v-if="!user">
    <input type="email" class="pretty" v-model="auth.email" placeholder="Email"/>
  </label>
  <label>
    <input type="password" class="pretty" v-model="auth.password" placeholder="Password"/>
  </label>
  <div id="emailerr">{{ errors.email }}</div>
  <div v-if="!user">
    <button @click="signIn('email')">Log in</button>
    <button @click="emailSignUp('email')">Register</button>
  </div>
  <div v-if="!user" class="gray mt mb">By registering or signing in you agree to our <a href="https://ropescore.com/privacy">Privacy and Cookie Policy</a></div>
  <div v-if="user">
    <!-- <button @click="change('email')">Change Email</button> -->
    <button @click="change('password')">{{ (!display.password ? 'Change' : 'Create') }} Password</button>
  </div>
  <!-- <div class="center gray mt mb">or</div> -->
</div>
<!-- <div class="center">
  <v-if="display.phone">
  <label>
    <input type="text" v-model="auth.phone" placeholder="Phone Number"/>
  </label>
  <label v-show="display.phoneCode">
    <input type="password" v-model="auth.phoneCode" placeholder="Verification Code"/>
  </label>
  <div id="phoneerr"></div>
  <button @click="signIn('phone')" id="phone-sign-in" v-if="display.phone">{{ (display.phoneCode ? (user ? 'Connect Phone Number' : 'Log In') : 'Send Verification Code') }}</button>
  <button @click="change('phone')" id="phone-sign-in" v-if="!display.phone">Change Phone Number</button>
  <div class="center gray">You will get an SMS with a verification code, normal rates apply</div>
  <div class="center gray mt mb">or</div>
</div> -->
<!-- <div class="center">
  <button @click="signIn('google')" v-if="display['google.com']">{{ (user ? 'Connect' : 'Log In With') }} Google</button>
  <button @click="signIn('facebook')" v-if="display['facebook.com']">{{ (user ? 'Connect' : 'Log In With') }} Facebook</button>
  <button @click="signIn('twitter')" v-if="display['twitter.com']">{{ (user ? 'Connect' : 'Log In With') }} Twitter</button>
  <button onclick="signIn('github')">Logga in med GitHub</button>
  <div id="socialerr"></div>
</div> -->
<div v-if="user">
  <a href="/admin">Go to the admin interface</a>
</div>
